/*================================================================
                            default
================================================================*/
:root {
    --darkblue-color: #143649;
    --blue-color: #20627c;
}

body {
    background-color: #143649;
    background: var(--darkblue-color);
}

/*================================================================
                        Style in index.php 
================================================================*/
.card-table-top-left {
    margin-top: 120px;
    margin-left: 25px;
}

.card-table-top-right {
    margin-top: 120px;
    margin-right: 30px;
    margin-left: -5px;
}

.card-table-not-top-left {
    margin: 20px 0px 30px 25px;
}

.card-table-not-top-right {
    margin: 20px 30px 0px -5px;
}

.card-table-left {
    box-shadow: 0 4px 2px #ffffff, 0 3px 5px #ffffff;
}

.card-table-right {
    box-shadow: 0 4px 2px #ffffff, 0 3px 5px #ffffff; 
}

.button-table {
    font-weight: bold;
}

/*================================================================
                        Style in add_menu.php 
================================================================*/
.card-add-menu {
    background-color: #fad02c;
    border-radius: 4%;
    box-shadow: 0 -2px 5px #ffffff, 0 5px 5px #ffffff;
}

.block1,
.block5 {
    padding-top: 20px;
}

.head-menu {
    font-family: Bebas Neue;
}

.sub-header {
    font-weight: bold;
}

/*================================================================
                        Style in Home.php 
================================================================*/
.navbar {
    background-color: #265c7b;
}